<ul id="services_list">
    <li><%= link_to "/auth/twitter" do %><%= image_tag "social_twitter_256.png", :size => "256x256", :alt => "Twitter" %><% end %></li>
    <li><%= link_to "/auth/github" do %><%= image_tag "social_github_256.png", :size => "256x256", :alt => "Github" %><% end %></li>
    <li><%= link_to "/auth/google_oauth2" do %><%= image_tag "social_google_oauth2_256.png", :size => "256x256", :alt => "Google" %><% end %></li>
</ul>
