<h1>Video Presentations</h1>
<%= paginate @videos %>

<% @videos.each do |entry| %>
  <h2><%= entry.title %></h2>
  <p><%= entry.content %></p>
  <p>Published on <%= l entry.published_at, :format => :date %></p>
  <div>
    <iframe title="<%= entry.title %>" width="480" height="390" src="<%= entry.link %>" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>
