<%= form_for @user, url: {action: "update"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email Address (Used for #{link_to 'Gravatar', 'http://gravatar.com'})".html_safe %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :info, class: 'pull-left' %>&nbsp;<%= image_tag 'markdown-mark.png' %>
    <%= f.text_area :info %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button large success' %>
  </div>
<% end %>
