<% content_for :feature do %>
<div class="featured-event">
  <div class="screen-blk">
    <div class="row">
      <h2>Featured event:</h2>
      <div class="row">
        <a href="<%= @featured_event.url %>" title="<%=@featured_event.title %>" class="small-3 columns">
          <%= image_tag @featured_event.photo_url, alt: @featured_event.title %>
        </a>
        <div class="small-9 columns">
          <h3><a href="<%= @featured_event.url %>" title="<%=@featured_event.title %>"><%= @featured_event.title %></a></h3>
          <div class="feature-descript"><%= first_p(@featured_event.description).html_safe %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <h2>Some of our recent events:</h2>
  <ul class="small-block-grid-2 large-block-grid-4 event-list">
    <% @events.each do |event| %>
      <li>
        <a href="<%= event.url %>" title="<%= event.title %>">
          <h4>
            <%= snippet(event.title, '..', 25) %>
          </h4>
          <%= image_tag event.photo_url, alt: event.title %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
