<% content_for :feature do %>
<div class="featured-event">
  <div class="screen-blk">
    <div class="row">
      <h2>Featured event:</h2>
      <div class="row">
        <% if @featured_event %>
          <div class="small-12 columns">
            <h3><a href="<%= @featured_event.url %>" title="<%=@featured_event.title %>"><%= @featured_event.title %></a></h3>
            <div class="feature-descript"><%= first_p(@featured_event.description).html_safe %></div>
          </div>
        <% else %>
          <a href="#" class="small-3 columns">
            <%= image_tag 'hackathon.jpg' %>
          </a>
          <div class="small-9 columns">
            <h3>No current upcoming event. Check back soon!</h3>
            <div class="feature-descript">
              <p>Chances are we just haven't put the next events on the schedule yet. Check back soon to see what's next!</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <h2>Some of our recent events:</h2>
  <ul class="small-block-grid-2 large-block-grid-4 event-list">
    <% @events.each do |event| %>
      <li>
        <a href="<%= event.url %>" title="<%= event.title %>">
          <h4>
            <%= event.title %>
          </h4>
          <% if event.photo_url %>
            <%= image_tag event.photo_url, alt: event.title %>
          <% else %>
            <%= image_tag 'hackathon.jpg', alt: event.title %>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
