<div class="row">
  <div class="upcoming">
    <h1>Upcoming Events</h1>
    <% @upcoming_events.each do |event| %>
      <h3>
        <span class="event-date"><small><%= Time.at(event.date.to_i/1000).strftime('%b %-d, %Y - %l:%M%P %Z') %></small></span>
        <a href="<%= event.url %>" title="<%= event.title %>"><%= event.title %></a>
      </h3>
      <%= event.description.html_safe %>
      <hr>
    <% end %>
  </div>

  <div class="past">
    <h1>Past Events</h1>
    <% @past_events.each do |event| %>
      <h3>
        <span class="event-date"><small><%= Time.at(event.date.to_i/1000).strftime('%b %-d, %Y - %l:%M%P') %></small></span>
        <a href="<%= event.url %>" title="<%= event.title %>"><%= event.title %></a>
      </h3>
      <hr>
    <% end %>
  </div>
</div>
