<%= form_for [@challenge, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Enter your submission for: <%= @challenge.title %></h3>
    <%= f.text_area :code %>
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>
  <div class="actions">
    <%= link_to 'Back to Challenge', challenge_path(@challenge), class: 'button secondary small pull-right' %>
    <%= f.submit class: 'button success' %>
  </div>
<% end %>
