<h1>Submissions for: '<%= link_to @challenge.title, challenge_path(@challenge) %>'</h1>

<%= paginate @submissions %>

<%# we might put more detailed error handling for comments here eventually. for now, just using flash[:error]. %>

<% @submissions.each do |submission| %>
  <div class="submission">
    <h4 class="pull-left"><%= link_to submission.user.name, challenge_submission_path(submission.challenge, submission) %> (<%= l submission.created_at, :format => :date %>)</h4>
    <p class="submission-actions">
      <% if current_user == submission.user %>
        <%= link_to 'Edit', edit_challenge_submission_path(submission.challenge, submission), class: 'button tiny primary' %>
        <%= link_to 'Delete', challenge_submission_path(submission.challenge, submission), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert' %>
      <% end %>
    </p>
  </div>
<% end %>

<p class="actions">
  <%= link_to 'Back to Challenge', challenge_path(@challenge), class: 'button secondary small pull-right' %>
  <%= link_to 'Submit a solution', new_challenge_submission_path, class: 'button success' %>
</p>
