<h1>Submission for: '<%= @submission.challenge.title %>'</h1>

<p class="pull-right"><strong>Language: <%= @submission.language %></strong></p>
<p class="small">Submitted by <%= @submission.user.name %> on <%= l @submission.created_at, :format => :date %></p>

<pre class="prettyprint"><%= simple_format(strip_tags(@submission.code)) %></pre>

<div class="comments">
  <h4>Comments</h4>
  <% @submission.comments.each do |comment| %>
    <div>
      <div class="comment">
        <p>
          <em><%= comment.user.name %> (<%= l comment.created_at, :format => :date %>):</em>
          <%= snippet(sanitize(simple_format(comment.body))) %>
        </p>
        <% if current_user == comment.user %>
          <p>
            <%= link_to 'Edit', edit_comment_path(comment, @submission), class: 'button primary tiny' %>
            <%= link_to 'Delete', comment_path(comment, @submission), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert tiny' %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <%= form_for(@comment) do |f| %>
      <%= f.hidden_field :submission_id, :value=>@submission.id %>
      <div class="field">
        <%= f.text_area :body, size:"50x2", id: 'comment_body_' + @submission.id.to_s %>
      </div>

      <div class="actions">
        <%= submit_tag "Add A Comment", class: 'button small success' %>
      </div>
    <% end %>
  </div>
</div>

<p class="actions">
  <%= link_to 'Back to Solutions', challenge_submissions_path(@submission.challenge), class: 'button small secondary pull-right' %>

  <% if current_user == @submission.user %>
    <%= link_to 'Edit Submission', edit_challenge_submission_path(@submission), class: 'button primary' %>
    <%= link_to 'Delete', challenge_submission_path(@submission.challenge, @submission), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert' %>
  <% end %>
</p>

<link rel="stylesheet" href="https://google-code-prettify.googlecode.com/svn/loader/skins/sons-of-obsidian.css" />
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=<%= @submission.language %>"></script>
