<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, class: 'pull-left' %>&nbsp;<%= image_tag 'markdown-mark.png' %>
    <%= f.text_area :description, rows: '50' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button large success pull-right' %>
  </div>
<% end %>
