<% if current_user %>
  <%= link_to 'Create a new challenge', new_challenge_path, class: 'button success pull-right header-button'  %>
<% end %>
<h1>Coding Challenges</h1>
<br />
<% if 0 < @challenges.size %>
  <%= paginate @challenges %>

  <% @challenges.each_with_index do |challenge, idx| %>
    <% if idx % 2 == 0 %>
      <div class="row">
    <% end %>
      <div class="columns small-6">
        <div class="challenge">
          <h2><%= link_to sanitize(challenge.title), challenge %></h2>
          <p>By <%= challenge.user.name %> on <%= l challenge.created_at, :format => :date %></p>
        </div>
      </div>
    <% if idx % 2 != 0 %>
      </div>
    <% end %>
  <% end %>

  <br />
<% else %>
  <p>There are currently no challenges.</p>
<% end %>

