<h1>Member Blog Posts</h1>
<% @posts.each do |entry| %>
  <div style="border-left: 0.5em solid <%= entry.feed.user.color %>; padding-left: 0.5em;">
    <h2><%= link_to entry.title, entry.url %></h2>
    <p>
      Published on <%= l entry.published_at, :format => :date %>
      by <%= entry.feed.user.name %>
    </p>
    <p><%= entry.summary.html_safe %></p>
  </div>
<% end %>
<%= paginate @posts %>
