<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "devICT - Wichita, KS Developer Group" %></title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="top-banner">
    <div class="row">
      <div class="small-2 large-2 large-uncentered columns"><%= link_to image_tag("devict_logo.png", alt:"devICT"), root_path %></div>
      <dl class="sub-nav large-4 large-offset-6 columns main-nav">
        <%= nav_link "About", about_path %>
        <%= nav_link "Events", events_path %>
        <%= nav_link "Videos", videos_path %>
        <%= nav_link "Discuss", 'https://talk.devict.org' %>
        <%= nav_link "Conduct", conduct_path %>
      </dl>
      <div class="small-1"></div>
    </div>
  </div>
  <nav class="sub-nav large-2 large-offset-1 columns social-tab">
    <a href="http://twitter.com/dev_ict"><i class="foundicon-twitter"></i>&nbsp;Twitter</a>
    <a href="https://devict.slack.com"><i class="foundicon-chat"></i>&nbsp;Slack</a>
  </nav>
  <div class="social-dropdown">
    <div class="content-wrapper"></div>
  </div>

  <div id="notifications">
    <% if flash[:error] %>
      <p id='error'><%=h flash[:error] %></p>
    <% end -%>
    <% if flash[:notice] %>
      <p id='notice'><%=h flash[:notice] %></p>
    <% end %>
  </div>

  <%= yield :feature %>
  <div class="row content">
    <div class="small-12">
    <%= yield %>
    </div>
  </div>

  <footer class="row">
    <div class="small-12">
      <hr>
      <ul class="pull-right float-list">
        <li style="margin: 5px 15px 0 0;">
          Proudly hosted by <strong><a href="https://www.digitalocean.com/?refcode=0bc5d355b0fe">Digital Ocean</a></strong>
        </li>
        <li style="margin-top:3px;">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="TV7Y785BF7V4G">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </li>
        <li><%= link_to "https://plus.google.com/communities/109960336067004386127" do %><%= image_tag "social_google_oauth2_48.png", :size => "32x32", :alt => "devICT on Google Plus" %><% end %></li>
        <li><%= link_to "http://twitter.com/dev_ict" do %><%= image_tag "social_twitter_48.png", :size => "32x32", :alt => "devICT on Twitter" %><% end %></li>
        <li><%= link_to "http://meetup.com/devict" do %><%= image_tag "social_meetup_48.png", :size => "32x32", :alt => "devICT on Meetup" %><% end %></li>
      </ul>
      <h4>2014 devICT</h4>
    </div>
  </footer>


    <%= javascript_include_tag "application" %>
    </body>
</html>
