<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Upfront Wichita" %></title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="top-banner">
    <div class="row">
      <div class="small-2 large-2 large-uncentered columns"><%= image_tag "logo.png", alt:"Upfront Wichita" %></div>
      <dl class="sub-nav large-6 large-offset-1 columns main-nav">
        <dd class="active"><a href="#">About/Member List</a></dd>
        <dd><%= link_to "Code Challenge", challenges_path %></dd>
        <dd><%= link_to "Talks/Videos", videos_path %></dd>
        <dd><%= link_to "IRC", irc_index_path %></dd>
        <dd><a href="#">Blog</a></dd>
        <% if user_signed_in? %>
        <div id="nav_user" class="userLogin">
          <dd><span><%= current_user.email %></span></dd>
          <dd><%= link_to "Settings", services_path %></dd>
          <dd><%= link_to "Sign out", signout_services_path %></dd>
        </div>
        <% else %>
        <div class="userLogged">
          <dd><%= link_to "Sign in", signin_services_path %></dd>
        </div>
        <% end %>
      </dl>
      <div class="small-3"></div>
    </div>
  </div>
  <nav class="sub-nav large-2 large-offset-1 columns social-tab">
    <a href="#"><i class="foundicon-twitter"></i></a> 
    <a href="#"><i class="foundicon-chat"></i></a> 
    <a href="#">Twitter</a> 
    <a href="#">IRC</a> 
  </nav>
  <div class="social-dropdown">
    <div class="content-wrapper"></div>
  </div>

    <% if flash[:error] %>
      <p id='error'><%=h flash[:error] %></p>
    <% end -%>
    <% if flash[:notice] %>
      <p id='notice'><%=h flash[:notice] %></p>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    </body>
</html>
