<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Upfront Wichita" %></title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="row top-banner">
    <div class="large-2 columns">
      <%= image_tag "logo-200.png", alt:"Upfront Wichita", width:"200", height: "100" %>  
    </div>
    <dl class="sub-nav large-6 large-offset-1 columns main-nav">
      <dd class="active"><a href="#">About/Member List</a></dd>
      <dd><a href="#">Code Challenge</a></dd>
      <dd><a href="#">Talks/Videos</a></dd>
      <dd><a href="#">IRC</a></dd>
      <dd><a href="#">Blog</a></dd>
      <% if user_signed_in? %>
      <div id="nav_user" class="userIO">
        <dd><span><%= current_user.email %></span></dd>
        <dd><%= link_to "Settings", services_path %></li></dd>
        <dd><%= link_to "Sign out", signout_services_path %></dd>
      <% else %>
      <div class="userIO">
        <dd><%= link_to "Sign in", signin_services_path %></dd>
      </div>
      <% end %>
      </dd>
    </dl>
    <dl class="sub-nav large-2 large-offset-1 columns social-tab">
      <!--
      <dd><a href="#"><i class="foundicon-twitter"></i></a></dd>
      <dd><a href="#"><i class="foundicon-chat"></i></a></dd>
      -->
      <dd><a href="#">Twitter</a></dd>
      <dd><a href="#">IRC</a></dd>
    </dl>
  </div>
  <div class="featured-event">
    <div class="screen-blk">
      <div class="row">
        <h2>Featured event:</h2>
        <h3>Event title here</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="feature-descript"> Featured event description would go here. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit eu magna. Aliquam erat volutpat.</p>
    <h2>Some of our recent events:</h2>
    <ul class="small-block-grid-2 large-block-grid-4">
      <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
      <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
      <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
      <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
    </ul>

    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
